body {
    font-family: Arial;
    background: #eef2ff;
    padding: 40px;
}

.box {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px #ccc;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    width: 100%;
    padding: 12px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

a {
    display: block;
    margin-top: 20px;
    color: #4f46e5;
}

.feedback {
    background: #f5f5f5;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}
